
VITE_ENABLE_BACKEND="1"
VITE_BACKEND_URL="http://127.0.0.1:8000"
VITE_ROI_ENABLED=false
VITE_ROI_API_BASE_URL=http://127.0.0.1:8091
ROI_ALLOW_LIVE = "false"
ROI_ALLOWED_ORIGINS = "http://127.0.0.1:8081,http://127.0.0.1:8082,http://127.0.0.1:8083"